spring:
  application:
    name: pessoas-api

  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password : guest
    virtual-host: /

  mongodb:
    uri: mongodb://mongodb:27017/pessoasdb

  mail:
    host: mailhog
    port: 1025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
            required: false
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

server:
  port: 8084

